.status-icon--completed {
  color: var(--pf-t--global--icon--color--severity--none--default);
  margin-right: var(--pf-t--global--spacer--sm);
}

.status-icon--not-configured {
  color: var(--pf-t--global--icon--color--status--custom--default);
  margin-right: var(--pf-t--global--spacer--sm);
}

.status-icon--unknown {
  color: var(--pf-t--global--icon--color--subtle);
  margin-right: var(--pf-t--global--spacer--sm);
}
